body {
    /*This if for the body*/
    background-color: #EAF4F8;
}

h1 {
    color: #1F4E79; /*ctrl + backslash (/) - fast commenting*/
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 80px;
}