body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* reminder that record means selecting all elements with the class "record"*/
.record {
    background-color: #e3e4d5;
    color: #243b53;
    font-size: 18px;
    /*display: none;*/
}

.adjust-me {
    display: inline-block;
}

.layout-example {
    background-color: #fea0a0;
    border: 3px solid #000000;
    width: 300px;
    padding: 10px; /*Padding goes inside*/
    margin: 20px; /*Margin goes outside*/
}

.rounded-container {
    background-color: darkgray;
    width: 300px;
    height: 200px;
    border: 3px solid #000000;
    border-radius: 25px;
    padding: 10px; /*Padding goes inside*/
    margin: 20px; /*Margin goes outside*/
}

/*I will make a specific rule for the special container (for specific id) */
#special-container {
    position: relative;
    top: 5px;
    left: 110px;
}

/* let's add a hover property to the rounded container */
.rounded-container:hover {
    background-color: lightgray;
    border-color: #ff0000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transform: translate(2px, 2px);
}